// Edit Survey Modal
#editSurveyModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='editSurveyModalLabel', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#editSurveyModalLabel.modal-title Umfrage bearbeiten
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
      .container
        form.form-horizontal(role='form', method='POST', action='/register')
          .row
            .col-md-3.field-label-responsive
              label(for='title') Titel
            .col-md-6
              .form-group
                .input-group.mb-2.mr-sm-2.mb-sm-0
                  .input-group-addon(style='width: 2.6rem')
                    
                  input#title.form-control(type='text', name='title', placeholder='Titel', required='', autofocus='')
            .col-md-3
              .form-control-feedback
                span.text-danger.align-middle
                  // Put name validation error messages here
          .row
            .col-md-3.field-label-responsive
              label(for='description') Beschreibung
            .col-md-6
              .form-group
                .input-group.mb-2.mr-sm-2.mb-sm-0
                  .input-group-addon(style='width: 2.6rem')
                  
                  input#description.form-control(type='text', name='beschreibung', placeholder='Beschreibung', required='', autofocus='')
            .col-md-3
              .form-control-feedback
                span.text-danger.align-middle
                  // Put name validation error messages here
          .row
            .col-md-3.field-label-responsive
              label(for='public') Öffentlich?
            .col-md-6
              .form-group
                .input-group.mb-2.mr-sm-2.mb-sm-0
                  .input-group-addon(style='width: 2.6rem')
                  input#public.form-control(type='checkbox', value='')
            .col-md-3
              .form-control-feedback
                span.text-danger.align-middle
                  // Put e-mail validation error messages here

        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Abbrechen
          a.btn.btn-primary(href='#') Absenden
