// Logout Modal
#placeholderModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='placeholderModalLabel', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#placeholderModalLabel.modal-title Beispiel
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        | Hier wird dann die Detailseite der jeweiligen Umfrage oder des Kontextes geladen. 
      .modal-footer
        button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
      
