// Edit Survey Modal
#editRegulatorQuestion.modal.fade(tabindex='-1', role='dialog', aria-labelledby='editRegulatorQuestionLabel', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#editRegulatorQuestionLabel.modal-title Regulator Question bearbeiten
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        .container
          form.form-horizontal(role='form', method='POST', action='/register')
            .row
              .col-md-3.field-label-responsive
                label(for='id') ID
              .col-md-9
                .form-group
                  p#id.form-control-static #10
                  
            .row
              .col-md-3.field-label-responsive
                label(for='creationDate') creationDate
              .col-md-9
                .form-group
                  p#creationDate.form-control-static 12.12.2012 12:12:12 Uhr
            .row
              .col-md-3.field-label-responsive
                label(for='lastUpdate') lastUpdate
              .col-md-9
                .form-group
                  p#lastUpdate.form-control-static 12.12.2012 12:12:12 Uhr
            .row
              .col-md-3.field-label-responsive
                label(for='value') Value
              .col-md-9
                .form-group
                  input#value.form-control(type='text', name='value', placeholder='', required='', autofocus='',value='Wie sehr sind Sie mit dieser Frage zufrieden?')
              .col-md-3
                .form-control-feedback
                  span.text-danger.align-middle
                    // Put name validation error messages here
            .row
              .col-md-3.field-label-responsive
                label(for='description') Beschreibung
              .col-md-9
                .form-group
                  input#description.form-control(type='text', name='beschreibung', placeholder='Beschreibung', required='', autofocus='')
              .col-md-3
                .form-control-feedback
                  span.text-danger.align-middle
                    // Put name validation error messages here
            .row
              .col-md-2.field-label-responsive
                label(for='label') Label
              .col-md-5
                .form-group
                  input#labelA.form-control(type='text', name='value', placeholder='', required='', autofocus='', value='Unzufrieden')
              .col-2.field-label-responsive
                label(for='value') Value
              .col-md-3
                .form-group
                  input#valueA.form-control(type='text', name='label', placeholder='', required='', autofocus='', value='0.0')
            .row
              .col-md-2.field-label-responsive
                label(for='label') Label
              .col-md-5
                .form-group
                  input#labelB.form-control(type='text', name='label', placeholder='', required='', autofocus='', value='Zufrieden')
              .col-2.field-label-responsive
                label(for='value') Value
              .col-md-3
                .form-group
                  input#valueB.form-control(type='text', name='value', placeholder='', required='', autofocus='', value='10.0')
            .row
              .col-md-3.field-label-responsive
                label(for='stepSize') stepSize
              .col-md-9
                .form-group
                  input#stepSize.form-control(type='text', name='stepSize', placeholder='', required='', autofocus='',value='1.0')
              .col-md-3
                .form-control-feedback
                  span.text-danger.align-middle
                    // Put name validation error messages here
            .row
              .col-md-3.field-label-responsive
                label(for='min') min
              .col-md-9
                .form-group
                  input#min.form-control(type='text', name='min', placeholder='', required='', autofocus='',value='0.0')
              .col-md-3
                .form-control-feedback
                  span.text-danger.align-middle
                    // Put name validation error messages here
            .row
              .col-md-3.field-label-responsive
                label(for='max') max
              .col-md-9
                .form-group
                  input#max.form-control(type='text', name='min', placeholder='', required='', autofocus='',value='10.0')
              .col-md-3
                .form-control-feedback
                  span.text-danger.align-middle
                    // Put name validation error messages here
            .row
              .col-md-3.field-label-responsive
                label(for='default') default
              .col-md-9
                .form-group
                  input#default.form-control(type='text', name='min', placeholder='', required='', autofocus='',value='5.0')
              .col-md-3
                .form-control-feedback
                  span.text-danger.align-middle
                    // Put name validation error messages here    
            


        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Abbrechen
          a.btn.btn-primary(href='#') Absenden
